<h1>Goodbye!</h1>
<p>It was nice having you here</p>
<p>Say <%= link_to "Hello", say_hello_path %> again </p>

<p>Addition example : 1 + 2 = <%= 1 + 2 %></p>
<p>Cow + boy = <%= "Cow" + "boy" %></p>
<p>Time in an hour = <%=  1.hour.from_now %></p>